.bodywear {
  padding: 50px 0px 50px 0px;
}

.bodywear .container {
  background: #FF5A5F;
  -webkit-box-shadow: 0px 30px 50px rgba(255, 90, 95, 0.1);
          box-shadow: 0px 30px 50px rgba(255, 90, 95, 0.1);
  border-radius: 5px;
}

.bodywear-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-width: 810px;
  margin-left: auto;
  margin-right: auto;
  min-height: 460px;
}

.bodywear-article {
  width: 60%;
}

.bodywear-article h2 {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

.bodywear-article h3 {
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.1em;
}

.bodywear-article .button {
  margin-top: 15px;
  width: 305px;
}

.bodywear-image {
  width: 40%;
}

.bodywear-image img {
  width: 100%;
}
