.footer {
  padding: 40px 0;
  background-color: #e5e5e5;
}

.footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-header-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15em;
  color: #000000;
}

.footer-header-sub-link {
  margin-top: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15em;
  color: #000000;
  padding-top: 30px;
}

.footer-header-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.footer-header-item {
  padding-bottom: 15px;
  text-align: left;
}

.footer-header-item img {
  padding: 12px 0px;
}

.footer-header-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.footer-center {
  padding-top: 70px;
}

.footer-center-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-center-social-text {
  padding-right: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.footer-center-social-link {
  padding-right: 15px;
}

.footer-center-social-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 250px;
}

.footer-center-social-info-text {
  padding-right: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15em;
  color: #000000;
}

.footer-bottom {
  padding: 90px 0px 80px;
}

.footer-bottom-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-bottom-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}
