.recommended {
    // padding-top: 35px;
    padding-bottom: 35px;
    .container {
        h2 {
            text-align: center;
            color: black;
            font-weight: 700;
            font-size: 40px;
            line-height: 60px;
        }
    }
    &-wrapper {
        margin-top: 30px;
        display: inline-flex;
        // gap: 30px;
    }
    &-item {
        padding: 50px;
        h4 {
            text-align: center;
            margin-top: 12px;
            color: black;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
        }
    }
}
